<div class="panel panel-primary minh schedule-container" style="border-radius:0px">
  <div class="panel-heading no-radius" style="border-radius:0px">Shedule</div>
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="row">
        <div class="padding-xs col-xs-{{12/schedule.rooms.length}}" ng-repeat="room in schedule.rooms">
          <div class="panel panel-info minh">
            <div class="panel-heading no-radius">{{room.name}}</div>
            <div class="panel-body margin-left-wider">
              <div ng-class="{danger:!space.canDrop}" ui-on-drop="schedule.setEvent(room.spaces, index ,$data)" drag-hover-class="hover" ng-repeat="(index,space) in room.spaces">
                <span class="hour-helper">
                  <span ng-show="index%schedule.gapPerHour === 0">{{schedule.time.startHour + index/schedule.gapPerHour}}h</span>
                  <span ng-show="$index === index%schedule.gapPerHour && $index !== 0" ng-repeat="gap in schedule.gaps" class="tiny">{{gap}}</span>
                </span>
                <span ng-show="space.event.name">{{space.event.name | limitTo:10}}...</span>
                <div class="schedule-spacer" ng-show="index%schedule.gapPerHour !== 0" style="border-bottom:solid 0.5px">
                </div>
                <div class="schedule-spacer" ng-show="index%schedule.gapPerHour === 0" style="border-bottom:solid 2px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
