<div class="panel panel-primary minh schedule-container" style="border-radius:0px">
  <div class="panel-heading no-radius" style="border-radius:0px">Schedule</div>
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="row" ng-repeat="day in schedule.days">
        <h4>{{day}}</h4>
        <div class="padding-xs col-xs-{{schedule.floor(12/schedule.rooms.length)}}" ng-repeat="room in schedule.rooms">
          <div class="panel panel-info minh">
            <div class="panel-heading no-radius">{{room.name}}</div>
            <div class="panel-body margin-left-wider">
              <div class="space-content" style="border-left-color:{{schedule.getColor(space.event)}}" ng-class="schedule.getSpaceClasses(space, index)"
                  ui-on-drop="schedule.setEvent(room, index ,$data)"
                  drag-hover-class="hover"
                  ng-repeat="(index,space) in room.spaces">
                <span class="hour-helper">
                  <span ng-show="index%schedule.gapPerHour === 0">{{schedule.time.startHour + index/schedule.gapPerHour}}h</span>
                </span>
                <span style="margin-left:2px" ng-show="space.event.name && space.first">{{space.event.name | limitTo:15}}...</span>
                <span class="btn-remove" ng-click="schedule.clearEvent(room.spaces, index)" ng-show="space.event && space.first">x</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
